.detail_wrapper {
  padding: 20px 50px;
}
.row {
  display: flex;
  padding: 0.5em 0;
}
.main_img {
  width: 55%;
}
.text_wrapper {
  width: 45%;
  padding: 4em 3em;
}
.filter {
  color: #777;
  font-style: italic;
}
.title {
}
.date {
  margin-bottom: 30px;
}
.describtion {
  line-height: 1.4;
  margin-bottom: 70px;
}
.link_group {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.link_git {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  background-color: #eee;
  transition: 0.3s;
}

.link_url {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  background-color: #fccb00;
  color: #fff;
  box-shadow: 3px 4px 6px #eee;
  transition: 0.3s;
}
.link_git:hover,
.link_url:hover {
  box-shadow: 3px 4px 6px #ccc;
}
.detail {
  padding: 1em 0;
  margin-bottom: 50px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.category {
  display: inline-block;
  width: 120px !important;
  flex-shrink: 0;
}
.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tool {
  display: inline-block;
  background-color: #f4f4f4;
  padding: 0.25em 0.5em;
  /* margin-right: 10px; */
  color: #555;
  font-size: 0.9em;
}
.left_wrapper {
  width: 45%;
  padding: 0 2em;
}
.img_wrapper {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
}
.img_item {
  width: 50%;
}
.img {
  width: 100%;
}
