.wrapper {
  max-width: 1000px;
  padding: 20px 50px;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: start;
  padding: 1em 0;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #e2e2e2;
}
.captions {
  display: flex;
  gap: 20px;
}
.caption {
  color: #777;
  position: relative;
}
.caption:first-child::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ccc;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  right: -12px;
}
.main_img {
  width: 55%;
}
.text_wrapper {
  flex-grow: 1;
}
.filter {
  color: #777;
  font-style: italic;
}
.title {
}
.h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.detail_wrapper {
  padding: 32px 0;
  line-height: 1.4;
  /* margin-bottom: 70px; */
}

/* button */
.link_group {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.link_git {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 30px;
  background-color: #eee;
  transition: 0.3s;
}

.link_url {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  background-color: #fccb00;
  color: #fff;
  box-shadow: 3px 4px 6px #eee;
  transition: 0.3s;
}
.link_git:hover,
.link_url:hover {
  box-shadow: 3px 4px 6px #ccc;
}

/* 사용툴 */
.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tool {
  display: inline-block;
  background-color: #f4f4f4;
  padding: 0.25em 0.5em;
  /* margin-right: 10px; */
  color: #555;
  font-size: 0.9em;
}
.img {
  width: 100%;
}

/* web */
.web {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
  overflow: hidden;
  box-shadow: 3px 5px 5px #eee;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.circles {
  width: 33%;
  position: absolute;
  left: 30px;
}
.web_circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 7px;
}
.web_url {
  /* width: 500px; */
  /* flex-grow: 1; */
  font-size: 0.9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.screen {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}
