.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: relative;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #eee;
  position: relative;
  top: 70px;
}
.logo {
  width: 33%;
  text-align: center;
}
.nav {
  display: flex;
  gap: 20px;
  width: 33%;
}
.nav_item {
  font-size: 0.9em;
  transition: 0.3s;
}
.nav_item:hover {
  color: #fccb00;
}
.social {
  display: flex;
  justify-content: end;
  gap: 20px;
  width: 33%;
}
.social_icon {
  font-size: 1.2em !important;
  transition: 0.3s;
}
.social_icon:hover {
  color: #fccb00;
}
@media screen and (min-width: 1200px) {
  .nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
}
@media screen and (max-width: 953px) {
  .nav_wrapper {
    justify-content: center;
    position: relative;
  }
  .mobile_nav {
    display: block;
    width: 300px;
    height: 100vh;
    background-color: #fff;
    padding-top: 3em;
    position: fixed;
    top: -2px;
    left: 0px;
    transition: 0.3s;
    z-index: 8;
  }
  .nav {
    display: block;
    width: 300px;
    padding: 50px 0 20px 0;
    z-index: 8;
  }
  .nav_item {
    display: block;
    padding: 0.25em 3em;
    font-size: 1.2em;
    transition: 0.3s;
  }
  .social {
    width: 300px;
    justify-content: start;
    padding: 1em 3em;
  }
  .social_icon {
    font-size: 0.8em;
  }
  .toggle_btn {
    position: absolute;
    left: 50px;
    cursor: pointer;
    z-index: 9;
  }
  .close_btn {
    position: fixed;
    top: 24px;
    left: 50px;
    cursor: pointer;
    z-index: 9;
  }
}
