/* .item {
  width: 25%;
}
.project_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
  max-width: 1000px;
  margin: 0 auto;
} */
@media screen and (min-width: 1200px) {
  /* .w1200 { */
  /* max-width: 1200px;
    margin: 0 auto;
  } */
}
