.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: auto;
  padding-top: 50px;
}
.hyemin {
  font-size: 1.2em;
}
.intro_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 2px 3px 5px 4px rgba(0, 0, 0, 0.1);
}
.img {
  width: 100%;
  object-fit: cover;
}
.intro_text {
  text-align: center;
}
.article {
  padding: 2em 4em;
  border-bottom: 1px solid #eee;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title {
  margin-bottom: 2em;
}
.h2_title {
  display: flex;
  justify-content: space-between;
}
.item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  font-size: 1em;
}
.interview_wrapper {
  display: flex;
  gap: 10px;
  padding: 1em 0;
}
/* skill */
.skill_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.skill_contents {
  width: 50%;
}
.skill_list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.skill_item {
  padding: 2px 7px;
  background-color: #eee;
  font-size: 0.9em;
}
.skill_subtitle {
  padding: 1em 0;
  text-transform: capitalize;
}
/* 학력및교육 */
.exp_items {
  display: flex;
  flex-direction: column-reverse;
  padding: 01em 0;
}
.exp_item {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.sub {
  font-size: 0.9em;
  color: #777;
}
.highlight {
  display: inline-block;
  background: linear-gradient(to top, #ffffbb 40%, transparent 30%);
  padding: 0;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .item {
    width: 50%;
  }
  .skill_contents {
    width: 100%;
  }
}
