.item {
}

/* 이미지 비율 1:1로 맞춰서 출력 */

.item_img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  justify-content: space-between;
}
.item_title {
  width: 200px;
  font-size: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item_filter {
  /* padding: 0; */
}
.link_btn {
}
.link_btn:hover {
  color: #fccb00;
}

@media screen and (max-width: 900px) {
  .item {
    width: 48%;
  }
}
@media screen and (max-width: 690px) {
  .item {
    width: 100%;
    padding: 1em 0;
    border-bottom: 1px solid #f4f4f4;
  }
  .item_title {
    width: 300px;
    font-size: 1.2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .item:last-child {
    border-bottom: none;
  }
}
/* @media screen and (min-width: 1024px) {
  .item {
    width: 22%;
  }
} */
