.list_wrapper {
  padding: 0 50px;
}
.project_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 30px;
  border-bottom: 1px solid #f4f4f4;
}
.project_wrapper.start {
  justify-content: start;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
}
.title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em 0 3.5em 0;
}
.select {
  border: none;
  border-bottom: 1px solid #333;
}
.select:focus {
  border-bottom: 1px solid #333;
  outline: none;
}
.btn_link {
  transition: 0.3s;
}
.btn_link:hover {
  color: #fccb00;
}
